body{
	margin:0;
	background: url('../img/Слой 1.png') center top no-repeat;
	background-size: cover;
}
*{
	box-sizing: border-box;
}

.header{
	margin: 6rem 0 4rem;
	text-align: center;
}
.header h1{
	font-size: 3.6rem;
	color:#0bbaf0;
}
.header p{
	font-size: 2rem;
	color:#0bbaf0;
}
.panel-default > .panel-heading {
    background-color:#0bbaf0;
}